In [65]:
#import dependencies
import pandas as pd
from tabulate import tabulate

from IPython.display import display, HTML

In [2]:
# I moved the file to the directoy I was working in for ease, declare file name
filename = "HeroesOfPymoli_data.csv"

#read file in pd dataframe
df = pd.read_csv(filename)
print(len(df))
df.head(10)

780

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [3]:
#declare the number of unique players
number_of_players = len(df.SN.value_counts())

#declare the number of unique items
number_of_items = len(df["Item ID"].value_counts())

#verify that items by "Item ID" match the number of items by "Item Name"
number_of_items_verification = len(df["Item Name"].value_counts())

print(f'Number of Unique SN: {number_of_players}')
print(f'Number of Unique Items: {number_of_items}')
print(f'Does Unique Item IDs match Unique Item Names? {number_of_items == number_of_items_verification}')

Number of Unique SN: 576
Number of Unique Items: 179
Does Unique Item IDs match Unique Item Names? True

In [66]:
#Count the number of purchases using the length of the df
total_purchases = len(df)
print(f'Total purchases: {total_purchases}')

#Find the average item price using the .mean() function and Price column
avg_item_px = "${0:,.2f}".format(df.Price.mean())
print(f'Average Item Price: {avg_item_px}')

#find the total revenue using the .sum() function and Price column
total_rev = "${0:,.2f}".format(df.Price.sum())
print(f'Total Revenue: {total_rev}')

#Aggregate the data
purchase_data = {"Number of Unique Items": number_of_items,
                 "Average Price": avg_item_px,
                 "Number of Purchases": total_purchases,
                 "Total Revenue": total_rev}

#Pass data into DataFrame function and create a index @ 0
purchase_df = pd.DataFrame(purchase_data, index=[0])
#print(tabulate(purchase_df, headers='keys', tablefmt='psql'))
display(HTML(purchase_df.to_html()))

Total purchases: 780
Average Item Price: $3.05
Total Revenue: $2,379.77

In [21]:
#Find the number of players by gender, while dropping duplicate entries for the multiple purchases by a single 'SN'
males = len(df.drop_duplicates("SN").loc[(df["Gender"] == "Male")])
females = len(df.drop_duplicates("SN").loc[(df["Gender"] == "Female")])
others = len(df.drop_duplicates("SN").loc[(df["Gender"] == "Other / Non-Disclosed")])

#Calculate the % of player base 
prcnt_males = "{0:.2f}%".format(males / number_of_players*100)
prcnt_females = "{0:.2f}%".format(females / number_of_players*100)
prcnt_others = "{0:.2f}%".format(others / number_of_players*100)

#Aggregate the data
player_data = {'Gender': ("Male", "Female", "Other / Non-Disclosed"),
               'Total Count' : (males, females, others), 
               'Percentage of Players' : (prcnt_males, prcnt_females, prcnt_others),
               } 

#Pass data into DataFrame function and create a index using the 'Gender' column
player_df = pd.DataFrame(player_data).set_index('Gender')
player_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [22]:
#Create a new df grouped by "Gender"
new_df = df.groupby("Gender")

In [23]:
#Find the average total purchase per person (NOTE: you MUST use the UNIQUE number of players in that gender class)
#Format the values as well

female_avg_total = "${0:.2f}".format(new_df["Price"].sum()[0] / females)
male_avg_total = "${0:.2f}".format(new_df["Price"].sum()[1] / males)
others_avg_total = "${0:.2f}".format(new_df["Price"].sum()[2] / others)

In [54]:
#Aggregate the data, use count(), mean() and sum() 
# to find the purchase count, avg purchase price and total purchase value by gender class

d = {'Purchase Count' : new_df["Purchase ID"].count(), 
     'Average Purchase Price' : new_df["Price"].mean(),
     'Total Purchase Value' : new_df["Price"].sum(),
     'Avg Total Purchase Person': [female_avg_total, male_avg_total, others_avg_total]} 
  
#Pass data into DataFrame function (will use Gender as index by default)
purchasing_df = pd.DataFrame(d) 

# format the currency columns, must use the map( format ) function for df columns
for column in ['Average Purchase Price', 'Total Purchase Value']:
    purchasing_df[column] = purchasing_df[column].map("${:,.2f}".format)

# print the data 
print(tabulate(purchasing_df, headers='keys', tablefmt='psql'))

+-----------------------+------------------+--------------------------+------------------------+-----------------------------+
| Gender                |   Purchase Count | Average Purchase Price   | Total Purchase Value   | Avg Total Purchase Person   |
|-----------------------+------------------+--------------------------+------------------------+-----------------------------|
| Female                |              113 | $3.20                    | $361.94                | $4.47                       |
| Male                  |              652 | $3.02                    | $1,967.64              | $4.07                       |
| Other / Non-Disclosed |               15 | $3.35                    | $50.19                 | $4.56                       |
+-----------------------+------------------+--------------------------+------------------------+-----------------------------+

In [27]:
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Create a new df column and cut the rows by the bin values
df["Age Group"] = pd.cut(df["Age"], bins, labels=group_names, include_lowest=True)

#Create a new df grouping by "Age Group" and being sure not to use duplicate entries for the same "SN"
age_df = df.drop_duplicates("SN").groupby("Age Group")

In [29]:
#Aggregate the data
data = {'Total Count' : age_df["Purchase ID"].count(),
        'Percentage of Players': age_df["Purchase ID"].count() / number_of_players * 100}

#Pass data into DataFrame function (will use Age Group as index by default)
age_sum_df = pd.DataFrame(data)

#format the % column
age_sum_df['Percentage of Players'] = age_sum_df['Percentage of Players'].map("{:,.2f}%".format)

#Print df
age_sum_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [31]:
#Create a new df grouping by Age Group
age_purchasing_df = df.groupby("Age Group")

In [32]:
#Assign value for total purchase count using count()
purchasing_count = age_purchasing_df["SN"].count()


#Assign value for avg purchase price using mean()
avg_purchase_px = age_purchasing_df["Price"].mean()


#Assign value for total purchase value using sum()
total_purchase_val = age_purchasing_df["Price"].sum()


#Assign total purchase value per person
avg_total_purchase_person = age_purchasing_df["Price"].sum() / age_df["Price"].count()

In [53]:
#Aggregate data
purchasing_data = {'Purchase Count' : purchasing_count,
                   'Average Purchase Price': avg_purchase_px,
                   'Total Purchase Value': total_purchase_val,
                   'Avg Total Purchase per Person': avg_total_purchase_person}


#Pass data into DataFrame function (will use Age Group as index by default)
purchasing_sum_df = pd.DataFrame(purchasing_data)


#format the $ column
for column in ['Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']:
    purchasing_sum_df[column] = purchasing_sum_df[column].map("${:,.2f}".format)

    
#print the df
print(tabulate(purchasing_sum_df, headers='keys', tablefmt='psql'))

+-------------+------------------+--------------------------+------------------------+---------------------------------+
| Age Group   |   Purchase Count | Average Purchase Price   | Total Purchase Value   | Avg Total Purchase per Person   |
|-------------+------------------+--------------------------+------------------------+---------------------------------|
| <10         |               23 | $3.35                    | $77.13                 | $4.54                           |
| 10-14       |               28 | $2.96                    | $82.78                 | $3.76                           |
| 15-19       |              136 | $3.04                    | $412.89                | $3.86                           |
| 20-24       |              365 | $3.05                    | $1,114.06              | $4.32                           |
| 25-29       |              101 | $2.90                    | $293.00                | $3.81                           |
| 30-34       |               73 | $2.93                    | $214.00                | $4.12                           |
| 35-39       |               41 | $3.60                    | $147.67                | $4.76                           |
| 40+         |               13 | $2.94                    | $38.24                 | $3.19                           |
+-------------+------------------+--------------------------+------------------------+---------------------------------+

In [57]:
#Create a new df grouped by 'SN' 
user_df =df.groupby('SN')

In [58]:
#assign values for total, count and avg purchases
player_purchases_total = user_df["Price"].sum()
player_purchases_count = user_df["Price"].count()
player_purchases_avg = user_df["Price"].mean()

In [61]:
#aggregate data
player_purchases_data = {'Purchase Count': player_purchases_count,
                         'Average Purchase Price': player_purchases_avg,
                         'Total Purchase Value': player_purchases_total}

#Pass data into DataFrame function (will use SN as index by default)
top_spenders = pd.DataFrame(player_purchases_data)

In [62]:
#sort the data
top_spenders = top_spenders.sort_values("Total Purchase Value", ascending=False)

#format the $ columns 
for column in ['Average Purchase Price', 'Total Purchase Value']:
    top_spenders[column] = top_spenders[column].map("${:,.2f}".format)
    
#print the df
print(tabulate(top_spenders.head(), headers='keys', tablefmt='psql'))

+-------------+------------------+--------------------------+------------------------+
| SN          |   Purchase Count | Average Purchase Price   | Total Purchase Value   |
|-------------+------------------+--------------------------+------------------------|
| Lisosia93   |                5 | $3.79                    | $18.96                 |
| Idastidru52 |                4 | $3.86                    | $15.45                 |
| Chamjask73  |                3 | $4.61                    | $13.83                 |
| Iral74      |                4 | $3.40                    | $13.62                 |
| Iskadarya95 |                3 | $4.37                    | $13.10                 |
+-------------+------------------+--------------------------+------------------------+

In [44]:
#Create a new df grouped by Item ID and Item Name
item_df =df.groupby(['Item ID','Item Name'])


#assign values for total, count and price
item_purchase_count = item_df["Item Name"].count()
item_price = item_df["Price"].mean()
item_tot_purchase_val = item_df["Price"].sum()

In [63]:
#aggregate the data
item_purchases_data = {'Purchase Count': item_purchase_count,
                         'Item Price': item_price,
                         'Total Purchase Value': item_tot_purchase_val}

#Pass data into DataFrame function (will use Item ID and Item Name as index by default)
top_pop_items = pd.DataFrame(item_purchases_data)

#Sort the df by purchase count and descending values
top_pop_items = top_pop_items.sort_values("Purchase Count", ascending=False)

#format the columns
for column in ['Item Price', 'Total Purchase Value']:
    top_pop_items[column] = top_pop_items[column].map("${:,.2f}".format)
    
#print the df
print(tabulate(top_pop_items.head(), headers='keys', tablefmt='psql'))

+-------------------------------------------------------+------------------+--------------+------------------------+
|                                                       |   Purchase Count | Item Price   | Total Purchase Value   |
|-------------------------------------------------------+------------------+--------------+------------------------|
| (92, 'Final Critic')                                  |               13 | $4.61        | $59.99                 |
| (178, 'Oathbreaker, Last Hope of the Breaking Storm') |               12 | $4.23        | $50.76                 |
| (145, 'Fiery Glass Crusader')                         |                9 | $4.58        | $41.22                 |
| (132, 'Persuasion')                                   |                9 | $3.22        | $28.99                 |
| (108, 'Extraction, Quickblade Of Trembling Hands')    |                9 | $3.53        | $31.77                 |
+-------------------------------------------------------+------------------+--------------+------------------------+

In [64]:
#Create a new DF
top_profit_items = pd.DataFrame(item_purchases_data)

#sort the df by "Total Purchase Value" descending values
top_profit_items = top_profit_items.sort_values("Total Purchase Value", ascending=False)

#format the columns
for column in ['Item Price', 'Total Purchase Value']:
    top_profit_items[column] = top_profit_items[column].map("${:,.2f}".format)

#print the df
print(tabulate(top_profit_items.head(), headers='keys', tablefmt='psql'))

+-------------------------------------------------------+------------------+--------------+------------------------+
|                                                       |   Purchase Count | Item Price   | Total Purchase Value   |
|-------------------------------------------------------+------------------+--------------+------------------------|
| (92, 'Final Critic')                                  |               13 | $4.61        | $59.99                 |
| (178, 'Oathbreaker, Last Hope of the Breaking Storm') |               12 | $4.23        | $50.76                 |
| (82, 'Nirvana')                                       |                9 | $4.90        | $44.10                 |
| (145, 'Fiery Glass Crusader')                         |                9 | $4.58        | $41.22                 |
| (103, 'Singed Scalpel')                               |                8 | $4.35        | $34.80                 |
+-------------------------------------------------------+------------------+--------------+------------------------+